@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

.default-hvr:hover {
  opacity: 0.9;
  background-color: #d1d1d150;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

.rainbow-btn {
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 100%
  );
  padding: 3px;
  display: inline-block;
  border-radius: 999px;
  border: 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.rainbow-btn > span {
  display: inline-block;
  background: #fff;
  text-transform: capitalize;
  padding: 6px 14px;
  border-radius: 999px;
  font-weight: 600;
  font-size: 13px;
  transition: 0.25s ease-in-out;
}

.rainbow-btn:hover > span {
  background-color: #ededed;
}

.default-transition {
  transition: 0.2s ease-in-out;
}
/*Loader*/

.rotate-loader,
.rotate-loader-xl {
  border: 3px solid #00000020;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  border-bottom-color: transparent;
  display: inline-block;
  box-sizing: border-box;
  animation: rotate 1s linear infinite;
}

.rotate-loader-xl {
  width: 28px;
  height: 28px;
  border: 4px solid #5758bb50;
  border-bottom-color: transparent;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  margin: auto;
  width: 60px;
  height: 36px;
}

.spinner > div {
  background: #000;
  height: 100%;
  width: 5px;
  float: left;
  margin: 0 1px;
  animation: stretch 2s infinite;
  animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
}

.spinner .r1 {
  animation-delay: -1s;
}

.spinner .r2 {
  animation-delay: -0.9s;
}

.spinner .r3 {
  animation-delay: -0.8s;
}

.spinner .r4 {
  animation-delay: -0.7s;
}

.spinner .r5 {
  animation-delay: -0.6s;
}

@keyframes stretch {
  0%,
  20%,
  49% {
    transform: scaleY(0.4);
    background-color: #1ed760;
  }

  10% {
    transform: scaleY(1);
  }

  50%,
  70%,
  100% {
    transform: scaleY(0.4);
    background-color: #15a649;
  }

  60% {
    transform: scaleY(1);
    background-color: #15a649;
  }
}

/*Fade In RTL LTR*/

@keyframes fadeInRightToLeft {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-rtl {
  animation: fadeInRightToLeft 1s ease-in-out;
}

@keyframes fadeInLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-ltr {
  animation: fadeInLeftToRight 1s ease-in-out;
}

@keyframes fadeOutRightToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50px);
  }
}

.fade-out-rtl {
  animation: fadeOutRightToLeft 1s ease-in-out;
}

@keyframes fadeOutLeftToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

.fade-out-ltr {
  animation: fadeOutLeftToRight 1s ease-in-out;
}

@keyframes absoluteFadeInLeftToRight {
  from {
    opacity: 0;
    left: 45%;
  }
  to {
    opacity: 1;
    left: 50%;
  }
}

.absolute-fade-in-ltr {
  animation: absoluteFadeInLeftToRight 1s ease-in-out;
}

.opening-animation {
  animation: openingAnimation 0.5s ease-in-out;
  transform-origin: top center;
}

@keyframes openingAnimation {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
}

/*---Loading Animation---*/

/*
usage
<div class="animation">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
*/
.animation {
  height: 95px;
  display: flex;
  transform: rotate(180deg);
}
.animation span {
  width: 38px;
  margin: 0 2px;
  border-radius: 6px;
  /* background-color: #fff; */
  animation: loader 2s infinite;
}
@keyframes loader {
  0%,
  100% {
    height: 15px;
    background: #000;
  }
  25% {
    height: 95px;
    background: #000;
  }
  50% {
    height: 50px;
    background: #000;
  }
  75% {
    height: 95px;
    background: #000;
  }
}
.animation span:nth-child(1) {
  animation-delay: 0.2s;
}
.animation span:nth-child(2) {
  animation-delay: 0.4s;
}
.animation span:nth-child(3) {
  animation-delay: 0.6s;
}
.animation span:nth-child(4) {
  animation-delay: 0.8s;
}
.animation span:nth-child(5) {
  animation-delay: 1s;
}

/*Scrollbar*/

::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #747272; /* Set the color of the thumb (scrollbar handle) */
  border-radius: 6px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #fff; /* Set the color of the track (the area where the thumb moves) */
}
